<% title 'Listing positions' %>

<%= table_for(@positions) %>

<br/>

<% if can?(:create, Position) %>
    <p>
      <%= link_to 'New Position', new_position_path, :class => 'button' %>
    </p>
<% end %>

