<% title 'Listing skills' %>

<% unless @position_skills.blank? %>
  <%= table_for(@position_skills) %>
  <%= will_paginate(@position_skills) %>
<% else %>
  <p>Now it's time to create some data here. To create new entry, please use the button below.</p>
  <br /><br />
<% end %>

<br />

<p>
  <%= link_to 'New Position skill', new_position_skill_path, :class => 'button' %>
</p>

