<% title 'Listing skills' %>

<% unless @skills.blank? %>
  <%= table_for(@skills) %>
  <%= will_paginate(@skills) %>
<% else %>
  <p>Now it's time to create some data here. To create new entry, please use the button below.</p>
  <br /><br />
<% end %>

<br />

<p>
  <%= link_to 'New Skill', new_skill_path, :class => 'button' %>
</p>

