<% title 'Listing skill types' %>

<% unless @skill_types.blank? %>
  <%= table_for(@skill_types) %>
  <%= will_paginate(@skill_types) %>
<% else %>
  <p>Now it's time to create some data here. To create new entry, please use the button below.</p>
  <br /><br />
<% end %>

<br />

<p>
  <%= link_to 'New skill type', new_skill_type_path, :class => 'button' %>
</p>

