<% title 'Listing skill types' %>

<%= table_for(@skill_types) do |t| %>
  <%= t.data :actions => [:edit, :destroy] do %>
    <% t.cell(:name) {|skill_type| link_to(skill_type.name, [skill_type, :skills])} %>
  <% end %>
<% end %>

<br />

<% if can?(:create, SkillType) %>
  <p>
    <%= link_to 'New skill type', new_skill_type_path, :class => 'button' %>
  </p>
<% end %>

