defaults_developmet: &defaults_developmet
  adapter: mysql
  encoding: utf8
  host: localhost
  username: root
  password:

development:
  database: cert_dev
  <<: *defaults_developmet

test:
  database: cert_test<%= ENV['TEST_ENV_NUMBER'] %>
  <<: *defaults_developmet