<% title 'Listing certifications' %>

<%= table_for(@certifications) do |t| %>
  <%= t.data :actions => [:edit, :destroy] do %>
    <% t.cell(:user) {|certification| link_to(certification.user.full_name, [certification.user, certification, :certification_marks])} %>
    <% t.cell(:position) %>
    <% t.cell(:created_at) %>
  <% end %>

<% end %>

<br/>

<% if can?(:create, Certification) %>
  <p>
    <%= link_to 'New certification', new_certification_path, :class => 'button' %>
  </p>
<% end %>

